@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@1&family=Lora:ital@1&family=Roboto+Mono:ital@0;1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Serif', serif;
    text-align: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s ease-in-out;
}

.image0 {
    background-image: url("mack.jpg");
}

.image1 {
    background-image: url('mack2.jpg');
}

.image2 {
    background-image: url('keybord.jpg');
}

.page {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
    text-align: left;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    width: 100%;
    font-weight: bolder;
    position: fixed;
    top: 0;
    background-color: rgba(45, 45, 45, 0.5);
    transition: background-color 0.2s;
}

.nav-links {
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    list-style: none;
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    padding: 15px 0;
    width: 100%;
    position:static;
    font-weight: bolder;
}

a{
    text-decoration: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: medium;
    font-weight: bolder;
    border-radius: 65px;
    margin-right: 90px;
    transition: all 0.5s ease-in-out;
}

.nav-links a:hover {
    color: #fd4766;
    background-color: #fd4766;
    color: white;
}

.nav-links a.active {
    font-weight: bolder;
    border: 2px solid #fd4766;
    background-color: #fd4766;
}

.dropdown {
    position: relative;
}

.dropbutton {
    padding: 10px 20px;
    font-size: medium;
    font-weight: bolder;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: white;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    width: 100%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgba(45, 45, 45, 0.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
    color: white;
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:hover {
    color: white;
}

.blogs {
    display:block;
    text-align: left;
    color: white;
    top: 15%;
    position: absolute;
    justify-content:flex-end;
}

.blog-post {
    background-color:rgba(13, 13, 13, 0.5);
    cursor: pointer;
    top: 25%;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    display: block;
    justify-content: flex-end;
    width: 50%;
    border-radius: 70px;
}

.blog-post:hover {
    background-color:rgba(13, 13, 13, 0.5);
    color: #fd4766;
}

.blog-details {
    width: 75%;
    display:flex;
    padding: 70px;
}

.blog-title{
    font-style: italic;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
}

.blog-meta {
    text-align: center;
}

.blog-content {
    width: 100%;
    letter-spacing: 1px;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 120%;
}
