@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@1&family=Lora:ital@1&family=Roboto+Mono:ital@0;1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'IBM Plex Serif', serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: all 1s ease-in-out;
}

.image0 {
    background-image: url("assets/code.avif");
}

.image1 {
    background-image: url('assets/mac.jpg');
}

.image2 {
    background-image: url('assets/keybord.jpg');
}

.image3 {
    background-image: url('assets/coder.png');
}

.image4 {
    background-image: url('assets/bck_cmp.webp');
}

.image5 {
    background-image: url('assets/mack.jpg');
}

.image6 {
    background-image: url('assets/mack2.jpg');
}

.image7 {
    background-image: url('assets/windows.avif');
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 14px 0px;
    background-color: rgba(45, 45, 45, 0.5);
    transition: background-color 0.2s;
}

.nav-links {
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    list-style: none;
    display: flex;
    font-size: medium;
    font-weight: bold;
    justify-content: flex-end;
    padding: 15px 0;
}

a{
    text-decoration: none;
}

.nav-links a {
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    margin-right: 50px;
    transition: all 0.1s ease-in-out;
}

.nav-links a:hover {
    color: #fd4766;
    background-color: #fd4766;
    color: white;
}

.nav-links a.active {
    font-weight: bolder;
    border: 2px solid #fd4766;
    background-color: #fd4766;
}

.dropdown {
    position: relative;
}

.dropbutton {
    padding: 10px 20px;
    color: white;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    width: 100%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: transparent;
}

.dropdown-menu a {
    color: white;
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:hover {
    color: white;
}

.content {
    text-align: left;
    color: white;
}

.content h1 {
    font-style: oblique;
    color: white;
    font-size: 50px;
    font-weight: 1000;
    margin-top: 22%;
    margin-left: 8%;
}

.content h1 span {
    color: #fd4766;
}


.content p {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 140%;
    color: white;
    margin-top: 10px;
    width: 45%;
    margin-left: 8%;
    margin-bottom: 40px;
}

.about {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: left;
    color: #fff;
    margin-top: 4%;
    margin-left: 5%;
}
#more {display: none;}
.abt{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 130%;
    color: white;
    margin-top: 10px;
    width: 60%;
}

.read {
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 75%;
    color: white;
    background-color: #fd4766;
    border-radius: 40px;
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0s ease-in-out;
}

.read:hover {
    background-color: black;
    border-color: #fd4766;
    color: #fd4766;
}
.blogs {
    color: white;
    top: 20%;
    position: absolute;
}

.blog-post {
    background-color:rgba(13, 13, 13, 0.5);
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
    margin-left: 10px;
    padding: 20px;
    width: 45%;
    border-radius: 70px;
}

.blog-post:hover {
    background-color:rgba(13, 13, 13, 0.5);
    color: #fd4766;
}

.blog-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-title{
    font-style: italic;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
}

.blog-meta {
    text-align: right;
}

.blog-content {
    width: 100%;
    letter-spacing: 1px;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 120%;
}

.projects {
    color: white;
    top: 15%;
    position: absolute;
    width: 50%;
    margin-left: 30px;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 30px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-indent: 200px;
    font-size: large;
}

.projects:hover {
    background-color: rgba(13, 13, 13, 0.301);
    color: #fd4766;
}

 
#contact {
    top: 10%;
    left: 15%;
    justify-content: space-around;
    position:absolute;
    align-items: center;
    padding: 20px;

}

#contact h1 {
    font-style: oblique;
    color: white;
    font-size: 55px;
    font-weight: 1000;
    width: 100%;
    margin-left: 12%;
}

#contact h1 span {
    font-size: 40px;
    color: #fd4766;
}

#contact .contact-left .form .inputs .box{
    color: black;
    width: 50%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #fd4766;
    border-radius: 20px;
    margin-left: 10%;

}

#contact .contact-left .form .inputs .msg-box{
    width: 60%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid #fd4766;
    border-radius: 20px;
    margin-left: 10%;
}

#contact .contact-left .form .inputs .btn{
    font-weight: 1000;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 15px 30px;
    border-radius:20px;
    background: black;
    width: 19%;
    margin-bottom: 20px;
    margin-left: 10%;
}

#contact .contact-left .form .inputs .btn:hover{
    background: transparent;
    border: 2px solid white;
    color: #fd4766;
}

.contact-left, .contact-right {
    flex: 1;
    margin-top: 60px;
    margin-right: 20px;
}

#contact .contact-right {
    max-width: 400px;
    color: white;
    top: 15%;
    left: 120%;
    position: absolute;
}

.contact-right iframe {
    border: 1px solid #fd4766;
    border-radius: 10px;
}

.cinfo {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.cinfo li {
    font-family: 'Roboto Slab', serif;
    font-size: 19px;
    font-weight: 500;
}

.material-symbols-outlined {
    vertical-align: middle;
    margin-right: 10px;
    color: #fd4766;
}

.cinfo li {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.mail a {
    color: white;
    text-decoration: underline;
}

.hf a {
    color: white;
    text-indent: 15px;
    text-decoration: underline;
}

.fa {
    padding: 20px;
    font-size: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 15px 10px;
    border-radius: 40%;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background:#2c4762;
    color: white;
}

.fa-linkedin {  
    background: #007bb5;  
    color: white;  
}  


.button {
    font-size: 12px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 16px 35px;
    border-radius: 25px;
    background-color: #fd4766;
    margin-left: 8%;
}

.button:hover {
    background-color: black;
    border-color: #fd4766;
    color: #fd4766;
}

footer {
    font-size: small;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}